FORMACAO_DB_PATH=data/formacao.db
FORMACAO_USER_NAME=Andressa
FORMACAO_API_HOST=127.0.0.1
FORMACAO_API_PORT=8000

MSSQL_SA_PASSWORD=Change_This_Password_123
ORACLE_PASSWORD=change-this-password
MONGO_USER=formacao
MONGO_PASSWORD=change-this-password
RABBITMQ_USER=formacao
RABBITMQ_PASSWORD=change-this-password
