HONE_DB_PATH=data/hone.db
HONE_USER_NAME=Andressa
HONE_API_HOST=127.0.0.1
HONE_API_PORT=8000

HONE_WORKSPACE_DIR=workspace
HONE_EXERCISE_TIMEOUT=10
HONE_OLLAMA_URL=http://127.0.0.1:11434
HONE_OLLAMA_MODEL=qwen2.5-coder:7b

MSSQL_SA_PASSWORD=Change_This_Password_123
ORACLE_PASSWORD=change-this-password
MONGO_USER=hone
MONGO_PASSWORD=change-this-password
RABBITMQ_USER=hone
RABBITMQ_PASSWORD=change-this-password
